{% extends 'base.html' %}

{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block main %}
<body id="skin-color" class="inter">

<div class="main-wrapper">

    <div class="page-wrapper">

        <div class="content container-fluid">
            <div class="crms-title row bg-white">
                <div class="col  p-0">
                    <h3 class="page-title m-0">
<span class="page-title-icon bg-gradient-primary text-white me-2">
<i class="fa fa-cog" aria-hidden="true"></i>
</span> Sozlamalar </h3>
                </div>
                <div class="col p-0 text-end">
                    <ul class="breadcrumb bg-white float-end m-0 ps-0 pe-0">
                        <li class="breadcrumb-item"><a href="index.html">Asboblar paneli</a></li>
                        <li class="breadcrumb-item active">Sozlamalar</li>
                    </ul>
                </div>
            </div>
            <div class="settings-menu-links">
                <ul class="nav nav-tabs menu-tabs">
                    <li class="nav-item active">
                        <a class="nav-link" href="settings.html">General Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="localization-details.html">Localization</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="payment-settings.html">Payment Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="email-settings.html">Email Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="social-settings.html">Social Media Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="social-links.html">Social Links</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="seo-settings.html">SEO Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="others-settings.html">Others</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Website Basic Details</h5>
                        </div>
                        <div class="card-body pt-0">
                            <form>
                                <div class="settings-form">
                                    <div class="form-group">
                                        <label>Website Name <span class="star-red">*</span></label>
                                        <input type="text" class="form-control" placeholder="Enter Website Name">
                                    </div>
                                    <div class="form-group">
                                        <p class="settings-label">Logo <span class="star-red">*</span></p>
                                        <div class="settings-btn">
                                            <input type="file" accept="image/*" name="image" id="file"
                                                   onchange="loadFile(event)" class="hide-input">
                                            <label for="file" class="upload">
                                                <i class="feather-upload"></i>
                                            </label>
                                        </div>
                                        <h6 class="settings-size">Recommended image size is <span>150px x 150px</span>
                                        </h6>
                                        <div class="upload-images">
                                            <img src="assets/img/logo.png" alt="Image">
                                            <a href="javascript:void(0);" class="btn-icon logo-hide-btn">
                                                <i class="feather-x-circle"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="settings-label">Favicon <span class="star-red">*</span></p>
                                        <div class="settings-btn">
                                            <input type="file" accept="image/*" name="image" id="files"
                                                   onchange="loadFile(event)" class="hide-input">
                                            <label for="file" class="upload">
                                                <i class="feather-upload"></i>
                                            </label>
                                        </div>
                                        <h6 class="settings-size">
                                            Recommended image size is <span>16px x 16px or 32px x 32px</span>
                                        </h6>
                                        <h6 class="settings-size mt-1">Accepted formats: only png and ico</h6>
                                        <div class="upload-images upload-size">
                                            <img src="assets/img/favicon.png" alt="Image">
                                            <a href="javascript:void(0);" class="btn-icon logo-hide-btn">
                                                <i class="feather-x-circle"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5 col-md-6">
                                            <div class="form-group">
                                                <div class="status-toggle d-flex justify-content-between align-items-center">
                                                    <p class="mb-0">RTL</p>
                                                    <input type="checkbox" id="status_1" class="check">
                                                    <label for="status_1" class="checktoggle">checkbox</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0">
                                        <div class="settings-btns">
                                            <button type="submit"
                                                    class="border-0 btn btn-primary btn-gradient-primary btn-rounded">
                                                Update
                                            </button>&nbsp;&nbsp;
                                            <button type="submit" class="btn btn-secondary btn-rounded">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Address Details</h5>
                        </div>
                        <div class="card-body pt-0">
                            <form>
                                <div class="settings-form">
                                    <div class="form-group">
                                        <label>Address Line 1 <span class="star-red">*</span></label>
                                        <input type="text" class="form-control" placeholder="Enter Address Line 1">
                                    </div>
                                    <div class="form-group">
                                        <label>Address Line 2 <span class="star-red">*</span></label>
                                        <input type="text" class="form-control" placeholder="Enter Address Line 2">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>City <span class="star-red">*</span></label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>State/Province <span class="star-red">*</span></label>
                                                <select class="select form-control">
                                                    <option selected="selected">Select</option>
                                                    <option>California</option>
                                                    <option>Tasmania</option>
                                                    <option>Auckland</option>
                                                    <option>Marlborough</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Zip/Postal Code <span class="star-red">*</span></label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Country <span class="star-red">*</span></label>
                                                <select class="select form-control">
                                                    <option selected="selected">Select</option>
                                                    <option>India</option>
                                                    <option>London</option>
                                                    <option>France</option>
                                                    <option>USA</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0">
                                        <div class="settings-btns">
                                            <button type="submit"
                                                    class="border-0 btn btn-primary btn-gradient-primary btn-rounded">
                                                Update
                                            </button>&nbsp;&nbsp;
                                            <button type="submit" class="btn btn-secondary btn-rounded">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<div class="modal right fade settings" id="settings" role="dialog" aria-modal="true">
    <div class="toggle-close">
        <div class="toggle" data-bs-toggle="modal" data-bs-target="#settings"><i
                class="fa fa-cog fa-w-16 fa-spin fa-2x"></i>
        </div>
    </div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header p-3">
                <h4 class="modal-title" id="myModalLabel2">Theme Customizer</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pb-3">
                <div class="scroll">
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item border-0">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="pb-2">Primary Skin</h5>
                                    </div>
                                    <div class="col text-end d-none">
                                        <a class="reset text-white bg-dark" id="ChangeprimaryDefault">Reset Default</a>
                                    </div>
                                </div>
                                <div class="theme-settings-swatches">
                                    <div class="themes">
                                        <div class="themes-body">
                                            <ul id="theme-changes"
                                                class="theme-colors border-0 list-inline-item list-unstyled mb-0">
                                                <li class="theme-title">Solid Color</li>
                                                <li class="list-inline-item"><span onclick="toggleTheme('style')"
                                                                                   class="theme-defaults bg-warnings"></span>
                                                </li>
                                                <li class="list-inline-item"><span onclick="toggleTheme('style-green')"
                                                                                   class="theme-solid-purple bg-warnings"></span>
                                                </li>
                                                <li class="list-inline-item"><span onclick="toggleTheme('style-blue')"
                                                                                   class="theme-solid-black bg-blue"></span>
                                                </li>
                                                <li class="list-inline-item"><span onclick="toggleTheme('style-orange')"
                                                                                   class="theme-solid-pink bg-orange"></span>
                                                </li>
                                                <li class="list-inline-item"><span onclick="toggleTheme('style-pink')"
                                                                                   class="theme-solid-pink bg-pink"></span>
                                                </li>
                                                <li class="list-inline-item"><span onclick="toggleTheme('style-purple')"
                                                                                   class="theme-solid-purle bg-purple"></span>
                                                </li>
                                                <li class="list-inline-item"><span onclick="toggleTheme('style-red')"
                                                                                   class="theme-solid-danger bg-danger"></span>
                                                </li>
                                                <li><br/></li>
                                                <li>
                                                    <hr/>
                                                </li>
                                                <li class="theme-title">Gradient Color</li>
                                                <li class="list-inline-item"><span
                                                        onclick="toggleTheme('style-gradient-blue')"
                                                        class="theme-orange bg-sunny-mornings"></span></li>
                                                <li class="list-inline-item"><span
                                                        onclick="toggleTheme('style-gradient-green')"
                                                        class="theme-blue bg-tempting-azures"></span></li>
                                                <li class="list-inline-item"><span
                                                        onclick="toggleTheme('style-gradient-maroon')"
                                                        class="theme-grey bg-amy-crisps"></span></li>
                                                <li class="list-inline-item"><span
                                                        onclick="toggleTheme('style-gradient-orange')"
                                                        class="theme-lgrey bg-mean-fruits"></span></li>
                                                <li class="list-inline-item"><span
                                                        onclick="toggleTheme('style-gradient-pink')"
                                                        class="theme-dblue bg-malibu-beachs"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item border-0">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="pb-2">Header Style</h5>
                                    </div>
                                    <div class="col text-end">
                                        <a class="reset text-white bg-dark" id="ChageheaderDefault">Reset Default</a>
                                    </div>
                                </div>
                                <div class="theme-settings-swatches">
                                    <div class="themes">
                                        <div class="themes-body">
                                            <ul id="theme-change1"
                                                class="theme-colors border-0 list-inline-item list-unstyled mb-0">
                                                <li class="theme-title">Solid Color</li>
                                                <li class="list-inline-item"><span
                                                        class="header-solid-black bg-black"></span></li>
                                                <li class="list-inline-item"><span
                                                        class="header-solid-pink bg-primary"></span></li>
                                                <li class="list-inline-item"><span
                                                        class="header-solid-orange bg-secondary1"></span></li>
                                                <li class="list-inline-item"><span
                                                        class="header-solid-purple bg-success"></span></li>

                                                <li class="list-inline-item"><span
                                                        class="header-solid-green bg-warnings"></span></li>
                                                <li><br></li>
                                                <li>
                                                    <hr>
                                                </li>
                                                <li class="theme-title">Gradient Color</li>
                                                <li class="list-inline-item"><span
                                                        class="header-gradient-color1 bg-sunny-morning"></span></li>
                                                <li class="list-inline-item"><span
                                                        class="header-gradient-color2 bg-tempting-azure"></span></li>
                                                <li class="list-inline-item"><span
                                                        class="header-gradient-color3 bg-amy-crisp"></span></li>
                                                <li class="list-inline-item"><span
                                                        class="header-gradient-color4 bg-mean-fruit"></span></li>
                                                <li class="list-inline-item"><span
                                                        class="header-gradient-color5 bg-malibu-beach"></span></li>
                                                <li class="list-inline-item"><span
                                                        class="header-gradient-color6 bg-ripe-malin"></span></li>
                                                <li class="list-inline-item"><span
                                                        class="header-gradient-color7 bg-plum-plate"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="list-group m-0">
                            <li class="list-group-item border-0">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="pb-2">Apps Sidebar Style</h5>
                                    </div>
                                    <div class="col  text-end">
                                        <a class="reset text-white bg-dark" id="ChagesidebarDefault">Reset Default</a>
                                    </div>
                                </div>
                                <div class="theme-settings-swatches">
                                    <div class="themes">
                                        <div class="themes-body">
                                            <ul id="theme-change2"
                                                class="theme-colors border-0 list-inline-item list-unstyled">
                                                <li class="theme-title">Solid Color</li>
                                                <li class="list-inline-item"><span
                                                        class="sidebar-solid-black bg-black"></span></li>
                                                <li class="list-inline-item"><span
                                                        class="sidebar-solid-pink bg-primary"></span></li>
                                                <li class="list-inline-item"><span
                                                        class="sidebar-solid-orange bg-secondary1"></span></li>
                                                <li class="list-inline-item"><span
                                                        class="sidebar-solid-purple bg-success"></span></li>

                                                <li class="list-inline-item"><span
                                                        class="sidebar-solid-green bg-warnings"></span></li>
                                                <li><br></li>
                                                <li>
                                                    <hr>
                                                </li>
                                                <li class="theme-title">Gradient Color</li>
                                                <li class="list-inline-item"><span
                                                        class="sidebar-gradient-color1 bg-sunny-morning"></span></li>
                                                <li class="list-inline-item"><span
                                                        class="sidebar-gradient-color2 bg-tempting-azure"></span></li>
                                                <li class="list-inline-item"><span
                                                        class="sidebar-gradient-color3 bg-amy-crisp"></span></li>
                                                <li class="list-inline-item"><span
                                                        class="sidebar-gradient-color4 bg-mean-fruit"></span></li>
                                                <li class="list-inline-item"><span
                                                        class="sidebar-gradient-color5 bg-malibu-beach"></span></li>
                                                <li class="list-inline-item"><span
                                                        class="sidebar-gradient-color6 bg-ripe-malin"></span></li>
                                                <li class="list-inline-item"><span
                                                        class="sidebar-gradient-color7 bg-plum-plate"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="row Default-font">
                            <div class="col">
                                <h5 class="pb-2">Font Style</h5>
                            </div>
                            <div class="col text-end">
                                <a class="reset text-white bg-dark font-Default">Reset Default</a>
                            </div>
                        </div>
                        <ul class="list-inline-item list-unstyled font-family border-0 p-0" id="theme-change">
                            <li class="list-inline-item roboto-font">Roboto</li>
                            <li class="list-inline-item poppins-font">Poppins</li>
                            <li class="list-inline-item montserrat-font">Montserrat</li>
                            <li class="list-inline-item inter-font">Inter</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sidebar-contact">
    <div class="toggle" data-bs-toggle="modal" data-bs-target="#settings"><i
            class="fa fa-cog fa-w-16 fa-spin fa-2x"></i></div>
</div>

</body>
{% endblock main %}

