{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>

<link rel="shortcut icon" type="image/x-icon" href="{% static 'hospital/assets/img/favicon.png' %}">

<link rel="stylesheet" href="{% static 'hospital/assets/css/bootstrap.min.css' %}">

<link rel="stylesheet" href="{% static 'hospital/assets/css/font-awesome.min.css' %}">

<link rel="stylesheet" href="{% static 'hospital/assets/css/feather.css' %}">

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'hospital/assets/css/line-awesome.min.css' %}">

<link rel="stylesheet" href="{% static 'hospital/assets/plugins/morris/morris.css' %}">

# settings
<link rel="stylesheet" href="{% static 'hospital/assets/css/select2.min.css' %}">

<link rel="stylesheet" href="{% static 'hospital/assets/css/theme-settings.css' %}">

<link rel="stylesheet" href="{% static 'hospital/assets/css/style.css' %}" class="themecls">

# tasks
<link rel="stylesheet" href="{% static 'hospital/assets/css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'hospital/assets/css/dataTables.bootstrap4.min.css' %}">

