{% load static %}

<script src="{% static 'hospital/assets/js/jquery-3.6.0.min.js' %}"></script>

<script src="{% static 'hospital/assets/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'hospital/assets/js/morris.js' %}"></script>
<script src="{% static 'hospital/assets/plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'hospital/assets/js/chart.js' %}"></script>
<script src="{% static 'hospital/assets/js/linebar.min.js' %}"></script>
<script src="{% static 'hospital/assets/js/piechart.js' %}"></script>
<script src="{% static 'hospital/assets/js/apex.min.js' %}"></script>
# settings
<script src="{% static 'hospital/assets/js/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'hospital/assets/js/select2.min.js' %}"></script>

<script src="{% static 'hospital/assets/js/theme-settings.js' %}"></script>

<script src="{% static 'hospital/assets/js/app.js' %}"></script>



# tasks
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="{% static 'hospital/assets/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'hospital/assets/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'hospital/assets/js/moment.min.js' %}"></script>
<script src="{% static 'hospital/assets/js/bootstrap-datetimepicker.min.js' %}"></script>


<!-- choose one -->
<script src="{% static 'path/to/dist/feather.js' %}"></script>
<script src="{% static 'path/to/dist/feather.js' %}"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>



